body {
    margin: 0 !important;
    padding: 0 !important;
}

#content {
    width: 50vw;
    margin:auto;
    padding: 2rem;
    background-color: #ffffffea;
    height: 100vh;
    border-right: 1px solid #0000001a;
    border-left: 1px solid #0000001a;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    line-height: 2;

    font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system,
        /* Windows 6+ */ "Segoe UI", /* Android 4+ */ "Roboto",
        /* Ubuntu 10.10+ */ "Ubuntu", /* Gnome 3+ */ "Cantarell",
        /* KDE Plasma 5+ */ "Noto Sans", /* fallback */ sans-serif,
        /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji",
        /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";

    position: relative;
    z-index: 2;
}

#nodal-background-wrapper {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    position: fixed;
    z-index: 1;
}

#nodal-background-wrapper canvas {
    height: 100%;
    width: 100%;
}